@using WordMasterMind.Library.Helpers
@if (GameStateMachine.Game is not null)
{
    <div class="game-row row">
    @if (AttemptIndex < GameStateMachine.Game.CurrentAttempt)
    {
        foreach (var attemptLetterDetail in GameStateMachine.Game.GetAttempt(attemptIndex: AttemptIndex))
        {
            <GameTile
                Letter="@attemptLetterDetail.Letter.ToString()"
                Evaluation="@attemptLetterDetail.Evaluation.ToString().ToLowerInvariant()"
                Reveal="@((attemptLetterDetail.Evaluation is LetterEvaluation.Correct).ToString().ToLowerInvariant())"/>
        }
    }
    else
    {
        for (var letterIndex = 0; letterIndex < GameStateMachine.WordLength; letterIndex++)
        {
            var currentLetter = letterIndex > GameStateMachine.CurrentAttemptString.Length ? Constants.EmptyChar : GameStateMachine.CurrentAttemptString[letterIndex];
            <GameTile
                Letter="@currentLetter.ToString()"
                Evaluation="@Enum.GetName(typeof(LetterEvaluation), LetterEvaluation.Absent)"
                Reveal="false"></GameTile>
        }
    }
    </div>
}