@using WordMasterMind.Library.Helpers
@if (GameStateMachine.Game is not null)
{
    <div class="game-row row">
    @if (AttemptIndex < GameStateMachine.Game.CurrentAttempt)
    {
        foreach (var attemptLetterDetail in GameStateMachine.Game.GetAttempt(attemptIndex: AttemptIndex))
        {
            <GameTile
                Letter="@attemptLetterDetail.Letter.ToString()"
                Evaluation="@Enum.GetName(enumType: typeof(LetterEvaluation), value: attemptLetterDetail.Evaluation)!.ToLowerInvariant()"
                Reveal="@((attemptLetterDetail.Evaluation is LetterEvaluation.Correct) ? "true" : "false")"/>
        }
    }
    else
    {
        for (var letterIndex = 0; letterIndex < GameStateMachine.WordLength; letterIndex++)
        {
            if (AttemptIndex == GameStateMachine.Game.CurrentAttempt)
            {
                <GameTile
                    Letter="@GameStateMachine.CurrentAttemptLetter(letterIndex: letterIndex)"
                    Evaluation="@Enum.GetName(enumType: typeof(LetterEvaluation), value: LetterEvaluation.Absent)!.ToLowerInvariant()"
                    Reveal="false"></GameTile>
            }
            else
            {
                <GameTile
                    Letter="@WordMasterMind.Library.Helpers.Constants.EmptyChar"
                    Evaluation="@Enum.GetName(enumType: typeof(LetterEvaluation), value: LetterEvaluation.Absent)!.ToLowerInvariant()"
                    Reveal="false"></GameTile>
            }
        }
    }
    </div>
}